body{
  margin: 0;
  padding: 0;
background-image: url(1.jpg);
  margin-top: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;

}




.registro{
  position: relative;
  margin: 10% auto;
  width: 350px;
  height: 450px;
  border-radius: 80px;
}
h1
{
  margin-bottom: 20px;
  font-size: 28px;
  color: #000;
}
.registro input{

display: block;
box-sizing: 20px;
margin-bottom: 1px;
padding: 4px;
width: 220px;
height: 28px;
border: 1px solid #fff;
border-radius: 10px;
outline: none;
font-size: 15px;
transition: 0.2s;
color:#000;
background: transparent;
}

.boton{
  width: 120px;
  height: 32px;
  background: #fff;
  border-radius: 30px;
  cursor: pointer;
}
