body{
  background: url(i.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: sans-serif;
}

.log-iz{
  position: absolute;
  transform: rotate(13deg);
  top:30%;
  left: 34%;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}

.input-box{
  margin-bottom: 5px;
display: block;
box-sizing: border-box;
padding: 1px;
width: 200px;
height: 32px;
border: 1px solid #000;
outline: none;
font-size: 15px;
transition: 0.2s;
color: #000;
}

.boton{
  width: 120px;
  height: 32px;
  background: #fff;
  border-radius: 30px;
  cursor: pointer;
}

.log-dr{
  position: absolute;
  left: 60%;
  top: 47%;
  box-sizing: border-box;
  padding: 40px;
  width: 200px;
  height: 400px
}
.redes{
display:block;
margin-top: 1px;
font-size: 26px;
color: #000;
text-align: center;

}
.social{
  width: 100px;
  height: 28px;
  border-radius: 30px;
  font-size: 15px;
  transition: 0.2s;
  color: #000;
  cursor: pointer;
}

.facebook{
  background: #32508e;
}
.twitter{
  background: #55acee;
}
.google{
  background: #dd4b39;
}
